<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	h1{text-align: center}
	html{background:#E9FB66;}
	p{text-align: center;
		font-size: 1.5em;}
	input{margin-left: 45%;}
	</style>
	<title>Football</title>
</head>
<body>
<img src='{{MEDIA_URL}}/static/Fifa-World-cup-2014-brazil.jpg'  width=1300 height=200>
<h1>
Footballllll!!!!!!
</h1>
<form action='' method='post'>
{% csrf_token %}
<p>Create players and find out the better one</p>
<input type='submit' value='Go Soccer'>
</form>

</body>
</html>

